{% extends 'accounts/base.html' %}

{% block content %}
<style>
  .checkbox-dropdown {
    width: 200px;
    border: 1px solid #aaa;
    padding: 10px;
    position: relative;
    user-select: none;
  }

  /* Display CSS arrow to the right of the dropdown text */
  .checkbox-dropdown:after {
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #000;
    top: 50%;
    right: 10px;
    margin-top: -3px;
  }

  /* Reverse the CSS arrow when the dropdown is active */
  .checkbox-dropdown.is-active:after {
    border-bottom-color: #000;
    border-top-color: #fff;
    margin-top: -9px;
  }

  .checkbox-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    /* align the dropdown right below the dropdown text */
    border: inherit;
    border-top: none;
    left: -1px;
    /* align the dropdown to the left */
    right: -1px;
    /* align the dropdown to the right */
    opacity: 0;
    /* hide the dropdown */

    transition: opacity 0.4s ease-in-out;
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    pointer-events: none;
    /* avoid mouse click events inside the dropdown */
  }

  .is-active .checkbox-dropdown-list {
    opacity: 1;
    /* display the dropdown */
    pointer-events: auto;
    /* make sure that the user still can select checkboxes */
  }

  .checkbox-dropdown-list li label {
    display: block;
    border-bottom: 1px solid silver;
    padding: 10px;
    transition: all 0.2s ease-out;
    background: #fff;
  }

  .checkbox-dropdown-list li label:hover {
    background-color: #555;
    color: white;
  }
</style>

<div class="container mb-4">
  <h1 style="text-align: center; margin-top: 10px;">All Groups</h1>
  <div class="row mb-4">
    <div class="col-md-1 col-xl-1"></div>
    <div class="col-md-10 col-xl-10">
      <div class="checkbox-dropdown">
        Filter on interest
        <ul class="checkbox-dropdown-list">
          {% for interest in interests %}
          <li>
            <label>
              <input type="checkbox" value="{{interest.pk}}" name="{{interest.name}}" />{{ interest.name }}</label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-xl-1"></div>
    <div class="col-md-10 col-xl-10">
      <div class="d-flex flex-wrap justify-content-between" style="gap: 10px;">
      {% for group in groups %}
        <div class="group-item">
          <a class="text-decoration-none" style="color: inherit;" href="{% block group_links %}{% url 'accounts:group_site' group.id %}{% endblock %}">
          <img class="group-pic-list" src="{{ MEDIA_URL }}{{ group.group_pic.url }}" alt="Group picture for {{ group.name }}">
          <h2>{{ group.name }}</h2>
          <p>{{ group.get_age_gap }}</p>
          <h3>Some Interests</h3>
          <ul class="list-group list-group-horizontal" style="background-color: lightgrey;">
            {% for interest in group.get_three_interests %}
            <li class="list-group-item flex-fill">{{ interest.name }}</li>
            {% endfor %}
          </ul>
          </a>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="col-md-1 col-xl-1"></div>
  </div>
</div>

<script>
  const searchParams = new URLSearchParams(window.location.search);
  const originalCheckedItems = (searchParams.get("interests") ?? "")
    .split(",")
    .filter(x => x !== "");
  Array.from(document.querySelectorAll(".checkbox-dropdown-list input[type=checkbox]"))
    .forEach(i => i.checked = originalCheckedItems.indexOf(i.value) >= 0);

  document.querySelector(".checkbox-dropdown").addEventListener("click", e => {
    e.stopPropagation();
    e.currentTarget.classList.toggle("is-active");
    const searchParams = new URLSearchParams(window.location.search);
    const checkedItems = Array.from(
      document.querySelectorAll(".checkbox-dropdown-list input[type=checkbox]"))
      .filter(x => x.checked)
    if (checkedItems.length === originalCheckedItems.length) {
      return;
    }
    searchParams.set(
      "interests",
      checkedItems.map(x => x.value).join(","));
    window.location.search = searchParams.toString();
  });
</script>
{% endblock %}
