<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
  </head>
  <body>
    {% if user.is_authenticated %}
    <nav class="navbar sticky-top navbar-dark bg-dark">
      <div class="container-fluid" style="margin-left: 0.3cm;">
        <a class="navbar-brand" href="#">GroupUp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="offcanvas offcanvas-end"></div>
      </div>
        <!--
          <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a> 
        -->
    </nav>
    {% block content %}
    {% endblock %}
    {% else %}
      {% block login %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
      {% endblock %}
    {% endif %}
  </body>
</html>