{% extends 'accounts/base.html' %}

{% block title %}Group Site for {{ group.name }}{% endblock %}

{% block content %}
<h1>{{ group.name }}</h1>
<ul>
    {% for interest in group.interests.all %}
        <li>{{ interest.name }}</li>
    {% endfor %}
</ul>
<p>{{ group.get_age_gap }}</p>
<img src="{{ MEDIA_URL }}{{ group.group_pic.url }}">
<p>{{ group.description }}</p>
<ul>
    {% for member in group.members.all %}
        <li>{{ member.user.username }}</li>
    {% endfor %}
</ul>

<a href="{% url 'accounts:group_matches' group.id %}">See matches for {{ group.name }}!</a>

{% block admin_content %}{% endblock %}
{% endblock %}