{% extends 'accounts/base.html' %}

{% block content %}
<style>
    #sidepanel{
        background-color: #006A6E;
        width: 500px;
        height: 500px;
        border-radius: 25px;
    }
    div.scroll{
        height: 380px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: left;
    }

</style>
<div id="main" class="box" style="display: flex; flex-direction: row;">
    <div id="info" class="container" style="margin: 2em; width: fit-content;">
        <img src="{{ MEDIA_URL }}{{ group.group_pic.url }}" style="width: 800px; height: 300px; object-fit: cover;">
        <h1>{{ group.name }}</h1>
        <p>{{ group.description }}</p>
        <h5>Interests</h5>
        <ul style="list-style-type:none;"><div>
                {% for interest in group.interests.all %}
                    <li>{{ interest.name }}</li>
                {% endfor %}
            </div>
        </ul>
        {% if group in user.groupupuser.get_groups %}
            <a href="{% url 'accounts:group_matches' group.id %}">See matches for {{ group.name }}!</a>
        {% endif %}
    </div>
    <div id=sidepanel id="members" class="container" style="margin: 2em; color: white">
        <div style="margin: 1em; width: fit-content;">
            <p>Age-gap: {{ group.get_age_gap }}</p>
            <h5>Group members</h3>
        </div>
        <div style="margin: 1em; width: fit-content;">
            <div>
                
            </div>
            <div class=scroll style="margin: 1em; width: 200px;">
                <ul>
                    {% for member in group.members.all %}
                        <li>{{ member.user.username }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% block admin_content %}{% endblock %}
{% endblock %}