{% extends 'accounts/base.html' %}

{% block title %}Login{% endblock %}

{% block login %}
<nav class="navbar sticky-top navbar-dark bg-dark">
  <div>
    <a class="navbar-brand" style="margin-left: 1.3cm;" href="#">GroupUp</a>
  </div>
</nav>
<div style="margin-top: 40px; display: flex; flex-direction: column; align-items: center;">
  <h2 style="margin-bottom: 40px;">Log In</h2>
  <form method="post" style="display: flex; flex-direction: column; align-items: center;">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success" type="submit">Log In</button>
  </form>
</div>

{% endblock %}
