<!DOCTYPE html>
<html lang="en">

    <head>
        <title>MyDjangoApp</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {# Load the tag library #}
        {% load bootstrap5 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
    </head>

    <body>
        <nav class="navbar sticky-top navbar-dark bg-dark">
            <div>
                <a class="navbar-brand" style="margin-left: 1.3cm;" href="#">GroupUp</a>
            </div>
        </nav>
        <div style=" margin-top: 40px; display: flex; flex-direction: column; align-items: center;">
            <h2 style="margin-bottom: 30px;">Sign up</h2>
            <div>
                <form method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column;">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
            {{ form.username.errors }}
            {{ form.password.errors }}
            {{ form.profile_pic.errors }}
            {{ form.interests.errors }}
            {{ form.birthday.errors }}
            </div>
            
        </div>
    </body>
</html>