{% extends 'accounts/group_site.html' %}
{% load bootstrap5 %}

{% block title %}Group Site for {{ group.name }}{% endblock %}

{% block admin_content %}
{% if group in user.groupupuser.get_groups_where_admin %}
  <a class="btn" href="#">Edit group</a>
  <h2>Invite users</h2>
  <form action="{{ group.id }}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        Invite!
      </button>
    {% endbuttons %}
  </form>

{% else %}
  <p>You are administrator of these groups:</p>
  <ul>
    {% for usergroup in user.groupupuser.get_groups_where_admin %}
      <li>{{ usergroup.name }}</li>
    {% endfor %}
  </ul>

  <ul>
  {% for usergroup in user.groupupuser.get_groups_where_admin %}
    {% if group not in usergroup.get_related_groups %}
      <li>
        <a href="{% url 'group_admin:send_match' usergroup.id %}">
        Send match request for {{ usergroup.name }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endif%}
{% endblock %}