.profile-pic {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.group-pic-list {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.group-item {
  background-color: lightgrey;
  width: 300px;
  text-align: center;
  border: solid black 2px;
  border-radius: 10px;
  overflow: hidden;
}

.group-item h2 {
  margin-top: 5px;
}

.group-item h3 {
  font-size: larger;
}

.admin-buttons {
  width: 13%;
}